/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 100px;
	margin-bottom: 30px;
	line-height: 100px;
}

p {
	font-size: 14px;
	font-family: 'Helvetica Neue', sans-serif;
	color: #666;
	line-height: 22px;
}

a {
	text-decoration: none;
	color: #000;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-style: italic;
}

a:hover {
	text-decoration: underline;
}

.content-container {
	width: 375px;
	padding: 0px 30px 20px 30px;
	border-left: 10px solid #000;
	margin: 175px auto 50px auto;
	background-color: #fff;
	cursor: pointer;
}

.content-container:hover ~ .fancy-stuff .design {
	color: #ccc;
}

.content-container:hover ~ .fancy-stuff .design ~ .prototype {
	color: #ccc;
}

.fancy-stuff {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 40px;
	width: 375px;
	margin: 0px auto 0px auto;
}

.design {
	text-align: left;
	width: 175px;
	color: #fff;
	transition: .5s;
	float: left;
}

.prototype {
	text-align: left;
	color: #fff;
	transition: .5s;
	transition-delay: .5s;
	float:left;
}

.menu {
	color: #bbb;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	height: 16px;
	width: 16px;
	padding: 2px;
	transition: .2s;
}

.menu:hover {
	color: #999;
}

@media screen and (max-width: 420px) {

		.content-container {
		width: 330px;
		padding: 0px 30px 20px 30px;
		margin: 50px 10px 50px 0px;
	}
		.fancy-stuff {
		margin: 0px 0px 0px 40px;
	}

}






